
.container {    
width: 650px;
margin: 0 auto;
padding: 30px 80px;
}

h1 {
	text-align: center;
}

.center {
	text-align: center;
}

.img {
	float: left;
	margin: 9px;

}
.image-2 {
		text-align:center;
	}

.text {
	text-align: right;
}
